@{
    ViewData["Title"] = "Index";
}

<main ng-app="PersonManagementApp" ng-controller="PersonManagementCtrl">
  <h2>Hello world from Smart Table</h2>
  <table st-table="rowCollection" class="table table-striped">
    <thead>
    <tr>
        <th>name</th>
        <th>birth date</th>
        <th>email</th>
        <th></th>
    </tr>
    <tr>
        <th colspan="5">
            <input st-search="" class="form-control" placeholder="global search ..." type="text"/>
        </th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="row in rowCollection">
        <td>{{row.name}}</td>
        <td>{{row.dob | date}}</td>
        <td>{{row.email}}</td>
            <td>
                <a ng-click="editItem(row)">Edit</a> |
                <a ng-click="detailItem(row)">Details</a> |
                <a ng-click="deleteItem(row)">Delete</a>
            </td>
    </tr>
    </tbody>
   </table>
   <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Person Details</h4>
        </div>
        <div class="modal-body">
          <form class="form-horizontal">
             <div class="form-group">
               <label class="control-label col-sm-3" for="name">Name:</label>
               <div class="col-sm-9">          
                 <input type="text" class="form-control" id="name" name="name" ng-model="clone.name">
                </div>
              </div>
              <div class="form-group">
               <label class="control-label col-sm-3" for="dob">Date Of Birth:</label>
               <div class="col-sm-9">          
                 <input type="date" class="form-control" id="dob" name="dob" ng-model="clone.dob">
                </div>
              </div>
            <div class="form-group">
                <label class="control-label col-sm-3" for="email">Email:</label>
                <div class="col-sm-9">
                    <input type="email" class="form-control" id="email" name="email" ng-model="clone.email">
                </div>
             </div>
              <div class="form-group">        
                <div class="col-sm-offset-8 col-sm-1">
                  <button type="submit" class="btn btn-default" ng-click="reset()">Reset</button>
                </div>
                <div class="col-sm-offset-1 col-sm-1">
                  <button type="submit" class="btn btn-default" ng-click="update()">Submit</button>
                </div>
              </div>
            </form>
        </div>
      </div>
    </div>
  </div>
</main>

@section AddPageSpecificPluginScripts{
    <script src="~/lib/angular/angular.js"></script>
    <script src="~/lib/smart-table/smart-table.js"></script>
    <script src="~/js/personCtrl.js"></script>
}